/* --------------------------------
 * Primary style
 *--------------------------------

body
  background-color: transparent
  font-family: $font-primary
  font-size: 16px
  color: $text-color

a
  cursor: pointer
  color: $primary-color
  &:hover
    color: #005dd9
    text-decoration: none
    outline: 0
  text-decoration: none
  outline: 0
  &:active, &:visited, &:focus
    text-decoration: none
  &:visited
    color: #014c8c

a:not([href])
  cursor: pointer
  color: $primary-color !important

&:focus, &:active
  outline: 0 !important

img
  max-width: 100%

.align-center
  display: flex
  align-items: center
  justify-content: center
  text-align: center

\:focus
  outline: 0

\::-webkit-scrollbar
  height: 4px
  width: 4px
  background: #ffffff

\::-webkit-scrollbar-thumb
  background: #898989

.no-gutter [class*="col-"]
  padding-left: 0
  padding-right: 0


/* --------------------------------
 *3. Main components
 *--------------------------------

html, body
  height: 100%
  text-align: center

ul, li
  list-style: none
  margin: 0
  padding: 0

.section-body
  max-width: 992px

.app-wrapper
  background-color: white
  margin: 0 auto
  height: auto !important
  min-height: 100% !important
  overflow: hidden

.main-panel
  padding-top: 56px
  min-height: 100%
  position: relative
  z-index: 2

@media (max-width: 992px)
  .main-panel
    width: 100% !important
  .sidebar
    background-color: $background-color
    z-index: 999 !important
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3)

.thin
  max-width: 600px
  margin: 0 auto

#app
  height: 100%

.main-panel
  position: relative
  z-index: 2
  float: right
  display: flex
  flex-direction: column
  width: 100%
  padding-left: 260px

.full-width
  .main-panel
    padding-left: 0

@media (max-width: 992px)
  .hidden-xs
    display: none !important

.visible-xs
  display: none
@media (max-width: 992px)
  .visible-xs
    display: inherit !important


  img
    max-height: 400px
    background-color: white

.filters
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  margin: 10px 0


.app-wrapper.full-width
  .main-panel
    width: 100% !important
    padding-left: 0

@media (max-width: 991px)
  .main-panel
    padding-left: 0


.bg-green
  color: white
  background-color: #434f66
  h1, h2, h3, i
    color: white

.pull-right
  float: right !important

.pull-left
  float: left !important

.hide
  display: none !important

.container
  max-width: 900px
  margin: 0 auto
  width: 100%
  word-wrap: break-word

.page
  display: flex
  overflow-y: auto
  flex-direction: column

.block
  &.dark
    color: white
    h1
      color: white

.sidebar, .anim
  transition: all 0.3s ease


.activity
  width: 100%
  position: absolute
  bottom: 20px
  font-size: 16px
  color: rgba(255, 255, 255, 0.6)
  .col:first-child
    text-align: right
  .col:last-child
    text-align: left


.see-more
  color: $primary-color !important

a.btn-primary
  &:visited
    color: white !important

.profile-image
  border-radius: 50%

.lowercase-input
  text-transform: lowercase

.list-element
  text-align: left
  &:not(:last-of-type)
    border-bottom: 1px solid #e8e8e8
  &:hover
    background-color: #edf7fd

.list-image
  height: 35px
  width: 35px

.list-activity, .list-apps
  .list-element
    display: flex
    align-items: center
  .list-container
    width: 80%
  .list-date
    width: 20%
    text-align: right
  .list-description, .list-date
    color: #a5a5a5
  .list-link
    margin-left: auto

.list-more
  border-top: 1px solid #e8e8e8

.apps-details
  width: 80%
  margin: 0 auto
  overflow: hidden
  .apps-photo
    float: left
    width: 30%
  .apps-description
    float: right
    width: 70%
    text-align: left
    span, p
      color: #a5a5a5

.radio-label
    padding: 0px 10px 0 5px

.dropzone
  display: inline-block

.spacer
  display: inline-block
  margin: auto 10px
