.btn
  font-family: $font-alt
  border: none !important
  line-height: 2em

.input-group-btn > .btn
  line-height: 20px
  font-size: 20px

.btn-lg
  padding: 14px 32px
  line-height: 20px
  font-size: 20px

.btn-primary
  color: #fff !important
  background-color: #1a5099

  &:hover, &:focus, &:active
    background-color: darken(#1a5099, 10%)

  i
    color: #ffffff

.btn-secondary
  color: #cfcfcf
  box-shadow: inset 0 0 0 2px #dcdcdc !important
  background: none !important

.btn-success
  background-color: #02d895

  &:hover, &:focus, &:active
    background-color: darken(#02d895, 10%)

.btn-outline-primary
  color: #1a5099 !important
  box-shadow: inset 0 0 0 2px #1a5099

  i
    color: #1a5099

  &:hover
    color: #ffffff !important
    background-color: darken(#1a5099, 10%)
    box-shadow: none

    i
      color: #ffffff

.btn-outline-danger
  color: #d8345e !important
  box-shadow: inset 0 0 0 2px #d8345e

  i
    color: #d8345e

  &:hover
    color: #ffffff !important
    background-color: darken(#d8345e, 10%)
    box-shadow: none

    i
      color: #ffffff

.main-panel, .splash

  .btn
    border: none !important
    font-family: $font-alt
    font-size: 16px
    border-radius: 28px
    height: 50px
    line-height: 50px
    padding: 0 20px !important

a.btn-primary &:visited
    color: white !important
