.btn
  font-weight: 700
  border: none !important
  line-height: 2em

.block
  .btn
    width: 100%

.input-group-btn > .btn
  line-height: 20px
  font-size: 16px

.btn-lg
  padding: 14px 32px
  line-height: 20px
  font-size: 16px

.btn-primary
  color: #fff
  background-color: #1a5099
  &:hover, &:focus, &:active
    background-color: #1a5099 !important

.btn-secondary
  color: #cfcfcf
  box-shadow: inset 0 0 0 2px #dcdcdc !important
  background: none !important



.app-wrapper
  .btn
    border: none !important
    font-family: $font-primary
    font-weight: bold
    text-transform: uppercase
    font-size: 15px
    border-radius: 28px
    height: 50px
    line-height: 50px
    padding: 0 20px !important

  .btn-primary
    background-color: #1a5099
    &:hover
      background-color: darken(#1a5099, 10%)

  .btn-success
    background-color: #02d895
    &:hover
      background-color: darken(#02d895, 10%)

  .btn-outline-primary
    color: #1a5099 !important
    box-shadow: inset 0 0 0 2px #1a5099
    i
      color: #1a5099
    &:hover
      color: #ffffff
      background-color: darken(#1a5099, 10%)
      box-shadow: none
      i
        color: #ffffff

  .btn-outline-danger
    color: #d8345e !important
    box-shadow: inset 0 0 0 2px #d8345e
    i
      color: #d8345e
    &:hover
      color: #ffffff !important
      background-color: darken(#d8345e, 10%)
      box-shadow: none
      i
        color: #ffffff
