.form
  max-width: initial

textarea
  resize: none
  &::-webkit-input-placeholder
    color: #b7b7b7 !important
  &:-moz-placeholder
    /* Firefox 18-
    color: #b7b7b7 !important
  &::-moz-placeholder
    /* Firefox 19+
    color: #b7b7b7 !important
  &:-ms-input-placeholder
    color: #b7b7b7 !important

input[type="checkbox"]
  margin-right: 15px

\:focus
  outline: 0

.password-dialog
  position: fixed
  left: calc(50% - 200px)
  top: 200px
  width: 400px
  height: 300px
  background: #fff
  border: 1px solid
  padding: 10px
  display: flex
  flex-direction: column
  justify-content: center
  .message
    text-align: center
    margin-top: 30px
  .password-close
    position: absolute
    top: 0
    right: 0
    cursor: pointer

.form-control
  font-size: 18px
  border: 0
  border-radius: 0
  box-shadow: none
  text-align: center

.form-control-lg
  line-height: 60px !important
  padding: 0
  margin: 0

.form-span
  font-weight: bold

.form-submit
  font-size: 18px !important
  padding: 0
  margin: 0
  border-radius: 0 !important
  line-height: 60px !important

.form-icon
  line-height: 60px

.form-input
  float: right

.form-login
  border-top: 1px solid #E7E7EC
  
.input-login
  float: right
  width: calc(100% - 28px)
  text-align: left

.form-profile
  text-align: left
  .form-control
    text-align: left
  input, textarea
    padding: 0
    border-bottom: 1px solid