# For use with `direnv`
# https://direnv.net/

# export PORT=4444
export DEBUG="steemconnect:*"
# export JWT_SECRET="super-secret"
# export TEST_USERNAME="yourusernamefortests"
# export TEST_WIF="yourwiffortests"
export SIGNUP_OWNER_WIF="ownerWif"
export SIGNUP_CREATOR="username"
export SIGNUP_FEES="10.000 STEEM"
export DEV_DATABASE_URL=postgres://localhost/steemconnect
export NEW_RELIC_NO_CONFIG_FILE="true"
export NEW_RELIC_APP_NAME="steemconnect"
