.SignForm {
  max-width: 300px;
  margin: 20px auto 0px;
}

.SignForm__button {
  width: 100%;
}

#sc-icon {
  width: 90px;
  height: 100.2px;
  margin-bottom: 20px;
}

p.key-help {
  font-size: 14px;
}
