.SignForm {
  margin: 10px auto 0px;
  padding: 0 15px;

  .ant-form-item {
    max-width: 330px;
    margin: 10px auto;
  }
  .SignForm__button {
    font-size: 18px;
  }
}

#c-logo {
  width: 90px;
  height: 100.2px;
  margin-bottom: 20px;
}
