<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="description" content="{{description}}">
  <meta id="viewport" name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="all"/>
</head>
<body>
  <div id="app"></div>
  <script type="text/javascript" src="/js/app.min.js"></script>
</body>
</html>
