<style type="text/css">
  * {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
</style>

<div>
  <span class="btn-vote">Steem</span>
  <span class="count">{{content.net_votes}}</span>
</div>
