.FormGenerateLink {
  .ant-form-item-label {
    line-height: 20px;
  }

  .ant-form-item {
   margin-bottom: 15px;
  }

}

.FormGenerateLinkResult {
  a.ant-btn {
    line-height: 50px;
  }

  button.back {
    color:#108ee9;
    background: none;

    &:hover {
      color: #49a9ee;
    }
  }
}

.padding-top-30 {
  padding-top: 30px;
}
