@import "../styles/screen-sizes";

.Sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 580px;
  background-color: #f0f2f4;
}

.Sign__wrapper {
  padding: 40px 70px;
  width: 100%;
  flex: 1 0 0;

  .ant-row, .ant-form-item-control-wrapper, .ant-form-item-control {
    width: 100%;
  }

  .ant-btn {
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    &:hover {
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08) !important;
    }
  }
}

.Sign__signin-wrapper {
  min-height: 580px !important;
}

.Sign__content {
  position: relative;
  min-height: 520px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 #d7dde3;
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.87;
    text-align: center;
    color: #42474d;
  }

  h5 {
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: #333333;
    margin-bottom: 0px;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Placeholder {
  h2 {
    font-size: 20px;
    max-width: 330px;
  }

  .Placeholder__operation-container {
    text-align: center;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #e5e8eb;
    margin: 20px 0 27px 0;
    width: 100%;

    h5.Placeholder__operation-title {
      text-transform: uppercase;
      background-color: rgba(240, 242, 244, 0.3);
      color: #898989;
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      min-height: 30px;
      line-height: 30px;
    }

    .Placeholder__operation-content {
      font-size: 16px;
      padding: 20px 30px;
      overflow: auto;
      width: 100%;

      ul.Placeholder__operation-params {
        width: 100%;

        li {
          display: flex;
          @media (max-width: @screen-xs) {
            display: block;
            margin-bottom: 10px;
          }

          strong {
            display: inline-block;
            flex: 1 0 0;
            margin-right: 5px;
            text-align: right;

            @media (max-width: @screen-xs) {
              width: 100%;
              text-align: center;
              margin-right: 0px;
            }
          }
          span {
            display: inline-block;
            flex: 1 0 0;
            margin-left: 5px;

            @media (max-width: @screen-xs) {
              width: 100%;
              text-align: center;
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

.Placeholder__button {
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: white;
  width: 100%;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: #4ba2f2;
  box-shadow: 0 3px 8px 0 rgba(26, 80, 153, 0.3);
  margin-bottom: 22px;
}

.Sign__form {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
}

.Sign__result-container {
  width: 100%;
  padding: 25px 15px 10px 15px;

  p {
    font-size: 14px;
  }
}

.Sign__result-title-bg {
  width: 320px;
  height: 226px;
  background-image: url("/img/sign/result-bg.svg");
  background-repeat: no-repeat;
  justify-content: center;
  margin-bottom: 33px;

  #error-icon, #success-icon {
    width: 119px;
    height: 119px;
  }
}

.SignForm__button {
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: white;
  width: 100%;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: #4ba2f2;
  box-shadow: 0 3px 8px 0 rgba(26, 80, 153, 0.3);
  margin-bottom: 22px;
}

.Sign__button {
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
  color: #4ba2f2 !important;
  background: none;
  border: 1px solid #4ba2f2;
  border-radius: 5px;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: block;
}

.Sign__header {
  width: 100%;
  height: 60px;
  background-color: rgba(240, 242, 244, 0.3);
  flex-direction: row !important;
  justify-content: space-between;
  border-bottom: solid 1px #e4e7ea;
  border-radius: 10px 10px 0 0;

  #logo {
    width: 174px;
    height: 30px;
    margin-left: 17px;
  }

  #header-bg {
    width: 258px;
    height: 60px;
    border-radius: 0 10px 0 0;
  }
}

.Sign__signin-warning {
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 224, 205, 0.3);
  color: #dc6846;
  font-size: 13px;
  font-weight: 700;
  border-radius: 10px 10px 0 0;

  @media (max-width: @screen-xs) {
    line-height: 20px;
  }
}

.Sign__footer {
  border-top: solid 1px #e4e7ea;
  background-color: rgba(240, 242, 244, 0.3);
  height: 40px;
  position: absolute;
  bottom: 0px;
  flex-direction: row !important;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  width: 100%;

  a {
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    color: #a6a6a6;
    text-decoration: none;
  }

  .separator {
    color: #a6a6a6;
    line-height: 12px;
    margin: 0 20px;
    font-size: 12px;
  }
}

.Sign__button-link {
  color: #4ba2f2;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.Sign__button-cancel {
  margin-top: -5px;
  font-weight: bold;
}

.Sign__centered-loading {
  flex: 1 0 0;
  justify-content: center;
}
