$font-primary: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$font-alt: WhitneyMedium,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Whitney.woff) format('woff')
}

@font-face {
  font-family: Whitney;
  font-style: medium;
  font-weight: 600;
  src: url(/fonts//WhitneyMedium.woff) format('woff')
}

@font-face {
  font-family: WhitneyMedium;
  font-style: medium;
  font-weight: 600;
  src: url(/fonts//WhitneyBold.woff) format('woff')
}


html, body, #app {
  height: 100%;
  font-size: 18px;
}

#app {
  color: lighten(black, 60%);
  font-family: $font-primary;
}

h1, h2, h3, h4, h5 {
  color: black;
  font-family: $font-alt;
  font-weight: 700;
  margin-bottom: 1em;
}

blockquote {
  display: inline-block;
  border-left: 6px solid lighten(black, 60%);
  color: lighten(black, 60%);
  padding-left: 1em;
  font-size: 1.25em;
  font-style: italic;
}

b {
  color: black;
}

.btn {
  outline: 0 !important;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
  border: none !important;
  font-family: $font-alt;
}

.btn-success {
  border-radius: 28px;
  background-color: #02d895;

  &:hover, &:focus, &:active {
    background-color: #02a572 !important;
  }
}

.btn:disabled,
.btn:disabled:hover {
  background-color: #8c8c8c !important;
}

.btn-outline-success {
  color: #02d895 !important;
  border-radius: 28px;
  box-shadow: inset 0 0 0 2px #02d895;

  &:hover, &:focus, &:active {
    color: #ffffff !important;
    background-color: #02a572;
    box-shadow: none;
  }
}

.btn-sm {
  font-size: 15px;
  padding: 0.5em 1em;
  border: none !important;
  font-family: $font-alt;
  border-radius: 2em;
}

.btn-secondary {
  background-color: #f3f3f3;
  color: rgba(0, 0, 0, 0.3);
}

.form-control {
  font-size: 18px;
  padding: 0.75em;
  border-radius: 28px;

  &:hover, &:focus, &:active {
    box-shadow: none !important;
  }
}

.input-group-addon {
  border-radius: 28px;
}

input {
  font-family: $font-primary;
}

a, button {
  cursor: pointer;
}

pre {
  font-size: 18px;
  font-family: $font-primary;
}

.label {
  width: 140px;
}

li {
  word-break: break-all;
  text-align: left;
}

.table {
  white-space: pre-line;
}
